In [1]:
import pandas as pd

file_path = "./Resources/ZHomeValues.csv"

In [5]:
og_df = pd.read_csv(file_path)
#21000ish

In [6]:
#eliminated all na values
clean_df = og_df.dropna()
clean_df
#7769 Rows

,RegionName,State,CountyName,1/31/2000,2/29/2000,3/31/2000,4/30/2000,5/31/2000,6/30/2000,7/31/2000,...,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023,10/31/2023
0,New York,NY,Queens County,241271.91010,242565.51480,243908.20830,246421.69310,248905.58150,251519.49080,254333.42630,...,766582.9572,763731.2209,761449.8956,761938.2842,763854.9535,765486.3305,765199.3459,763299.2633,760584.2934,758177.2993
1,Los Angeles,CA,Los Angeles County,225898.91480,226250.26900,227234.29290,229209.68880,231673.49910,234070.21210,236503.75230,...,959553.9114,945550.7813,930386.6783,923605.3731,924440.3173,931256.3020,943797.7603,960642.1094,977541.4179,991551.5109
2,Houston,TX,Harris County,101935.86000,101906.22950,101760.71820,101715.19100,101696.99570,101873.58720,102080.30650,...,265896.4541,264434.1175,263408.3181,263035.2835,263251.6462,264103.9371,265044.8420,266001.8688,266457.6884,266611.0160
3,Chicago,IL,Cook County,127686.70440,127679.14440,127942.76900,128674.09830,129608.06350,130629.43090,131538.57460,...,281674.4239,281472.4808,282071.6090,283651.0989,284833.4034,286011.7579,287383.9221,289147.3164,290591.8352,291523.4667
4,San Antonio,TX,Bexar County,96873.72714,96964.95002,97036.42368,97164.83029,96729.71790,96127.09975,95469.49844,...,262993.2077,261924.1850,260739.0983,259700.1550,259442.5615,259725.5203,259933.5297,260059.7112,259609.2154,258765.6447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21546,Mount Charleston,NV,Clark County,357957.87340,360746.05130,363368.55940,367674.91510,374103.38450,379670.90740,386722.37720,...,563496.9282,555563.2249,548651.3099,545834.8423,547789.2126,552474.5914,555935.1568,558234.8307,559813.1088,563049.8049
21547,Clearview,WV,Ohio County,81271.89886,80558.75268,80097.50339,79506.82364,79623.98779,80569.64368,81613.22684,...,181614.7140,180297.8757,179180.5921,178817.2165,180145.5838,182005.2053,183681.6365,184774.2353,184848.9890,184770.3389
21553,Tribes Hill,NY,Montgomery County,59175.01353,59378.87474,59693.78779,60090.64921,60625.31446,61529.59821,62556.91194,...,158592.1332,157267.0493,155955.1327,155208.6947,155356.3566,156575.0580,158536.1311,160142.9492,161523.4887,163214.4318
21557,Haskins,OH,Wood County,130919.69250,129510.82500,129930.68170,129929.85220,130933.65740,131004.77180,131791.56810,...,242387.4149,243746.6839,245637.4451,248035.1402,250560.5565,253388.9235,255876.4499,257516.3050,258723.3435,259355.7539
21582,Galesville,MD,Anne Arundel County,240183.52340,240182.17610,240630.27230,242654.14070,244873.26570,247779.72250,250503.67330,...,616097.9336,614632.2366,614074.2274,613735.2645,616343.6556,619459.2760,623316.6508,625580.7375,626907.5925,627333.3160

In [13]:
columns = og_df.columns.to_list()
ten_years_back = columns.index("10/31/2013") 
Year2013_Year2023= ["RegionName", "State", "CountyName",*columns[ten_years_back:]]
Year2013_Year2023
back10years_df = og_df[Year2013_Year2023].dropna()
back10years_df

,RegionName,State,CountyName,10/31/2013,11/30/2013,12/31/2013,1/31/2014,2/28/2014,3/31/2014,4/30/2014,...,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023,10/31/2023
0,New York,NY,Queens County,465982.96670,468598.29040,470111.47720,471177.58690,473005.94400,475479.82610,478984.22610,...,766582.9572,763731.2209,761449.8956,761938.2842,763854.9535,765486.3305,765199.3459,763299.2633,760584.2934,758177.2993
1,Los Angeles,CA,Los Angeles County,466375.02450,475301.63720,482506.68640,485484.08390,485957.30930,484570.21980,485237.49140,...,959553.9114,945550.7813,930386.6783,923605.3731,924440.3173,931256.3020,943797.7603,960642.1094,977541.4179,991551.5109
2,Houston,TX,Harris County,125063.07000,126267.77180,127564.05270,128811.89230,130112.08830,131496.98170,132851.78360,...,265896.4541,264434.1175,263408.3181,263035.2835,263251.6462,264103.9371,265044.8420,266001.8688,266457.6884,266611.0160
3,Chicago,IL,Cook County,155004.23870,157683.31430,160430.71520,161765.75660,162481.22170,162822.59660,163662.76940,...,281674.4239,281472.4808,282071.6090,283651.0989,284833.4034,286011.7579,287383.9221,289147.3164,290591.8352,291523.4667
4,San Antonio,TX,Bexar County,124307.83750,124752.38450,125181.17290,125877.45620,126873.89360,128069.68330,129152.06330,...,262993.2077,261924.1850,260739.0983,259700.1550,259442.5615,259725.5203,259933.5297,260059.7112,259609.2154,258765.6447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21582,Galesville,MD,Anne Arundel County,444977.35650,445714.69780,448085.51420,454110.01610,460129.56480,464161.02540,466529.14780,...,616097.9336,614632.2366,614074.2274,613735.2645,616343.6556,619459.2760,623316.6508,625580.7375,626907.5925,627333.3160
21583,Hungry Horse,MT,Flathead County,117489.96650,118658.79170,119815.60390,121294.69750,122407.81160,123815.16310,125548.74010,...,332386.8790,324752.2814,320375.2044,321228.9227,326650.7680,333264.1534,337600.3952,339242.9488,339584.8001,340595.7991
21584,Kachemak City,AK,Kenai Peninsula Borough,279827.75770,279401.78100,279430.35400,278887.60020,278675.29940,279052.10020,280475.23470,...,452040.5339,449738.2004,446367.9195,443097.0805,439760.6854,438819.9817,439433.3233,440488.9848,440798.8693,439664.8583
21587,Stirling City,CA,Butte County,50761.47305,51535.86071,52883.80516,54428.83419,55342.48906,55865.79617,56272.70428,...,163878.9560,162759.7260,164051.4143,166255.1604,167719.1139,167227.8327,164953.0912,162293.0220,160125.8079,157060.8675
21592,Martin City,MT,Flathead County,194856.37090,196553.40980,198307.19710,200290.90030,202013.68180,203351.51180,204496.10120,...,525425.3114,514674.1248,507065.9497,506412.2726,509022.1909,513963.9223,518347.1642,521331.7509,522968.9742,522857.8009