In [1]:
import pandas as pd

file_path = "./Resources/ZHomeValues.csv"

In [5]:
#original excel file from Zillow
og_df = pd.read_csv(file_path)
#21000ish

In [15]:
#eliminated all na values
clean_df = og_df.dropna()
clean_df.round(2)
#7769 Rows

,RegionName,State,CountyName,1/31/2000,2/29/2000,3/31/2000,4/30/2000,5/31/2000,6/30/2000,7/31/2000,...,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023,10/31/2023
0,New York,NY,Queens County,241271.91,242565.51,243908.21,246421.69,248905.58,251519.49,254333.43,...,766582.96,763731.22,761449.90,761938.28,763854.95,765486.33,765199.35,763299.26,760584.29,758177.30
1,Los Angeles,CA,Los Angeles County,225898.91,226250.27,227234.29,229209.69,231673.50,234070.21,236503.75,...,959553.91,945550.78,930386.68,923605.37,924440.32,931256.30,943797.76,960642.11,977541.42,991551.51
2,Houston,TX,Harris County,101935.86,101906.23,101760.72,101715.19,101697.00,101873.59,102080.31,...,265896.45,264434.12,263408.32,263035.28,263251.65,264103.94,265044.84,266001.87,266457.69,266611.02
3,Chicago,IL,Cook County,127686.70,127679.14,127942.77,128674.10,129608.06,130629.43,131538.57,...,281674.42,281472.48,282071.61,283651.10,284833.40,286011.76,287383.92,289147.32,290591.84,291523.47
4,San Antonio,TX,Bexar County,96873.73,96964.95,97036.42,97164.83,96729.72,96127.10,95469.50,...,262993.21,261924.18,260739.10,259700.16,259442.56,259725.52,259933.53,260059.71,259609.22,258765.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21546,Mount Charleston,NV,Clark County,357957.87,360746.05,363368.56,367674.92,374103.38,379670.91,386722.38,...,563496.93,555563.22,548651.31,545834.84,547789.21,552474.59,555935.16,558234.83,559813.11,563049.80
21547,Clearview,WV,Ohio County,81271.90,80558.75,80097.50,79506.82,79623.99,80569.64,81613.23,...,181614.71,180297.88,179180.59,178817.22,180145.58,182005.21,183681.64,184774.24,184848.99,184770.34
21553,Tribes Hill,NY,Montgomery County,59175.01,59378.87,59693.79,60090.65,60625.31,61529.60,62556.91,...,158592.13,157267.05,155955.13,155208.69,155356.36,156575.06,158536.13,160142.95,161523.49,163214.43
21557,Haskins,OH,Wood County,130919.69,129510.82,129930.68,129929.85,130933.66,131004.77,131791.57,...,242387.41,243746.68,245637.45,248035.14,250560.56,253388.92,255876.45,257516.30,258723.34,259355.75
21582,Galesville,MD,Anne Arundel County,240183.52,240182.18,240630.27,242654.14,244873.27,247779.72,250503.67,...,616097.93,614632.24,614074.23,613735.26,616343.66,619459.28,623316.65,625580.74,626907.59,627333.32

In [13]:
#Housing data from 2023-2013
columns = og_df.columns.to_list()
ten_years_back = columns.index("10/31/2013") 
Year2013_Year2023= ["RegionName", "State", "CountyName",*columns[ten_years_back:]]
Year2013_Year2023
back10years_df = og_df[Year2013_Year2023].dropna()
back10years_df

,RegionName,State,CountyName,10/31/2013,11/30/2013,12/31/2013,1/31/2014,2/28/2014,3/31/2014,4/30/2014,...,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023,10/31/2023
0,New York,NY,Queens County,465982.96670,468598.29040,470111.47720,471177.58690,473005.94400,475479.82610,478984.22610,...,766582.9572,763731.2209,761449.8956,761938.2842,763854.9535,765486.3305,765199.3459,763299.2633,760584.2934,758177.2993
1,Los Angeles,CA,Los Angeles County,466375.02450,475301.63720,482506.68640,485484.08390,485957.30930,484570.21980,485237.49140,...,959553.9114,945550.7813,930386.6783,923605.3731,924440.3173,931256.3020,943797.7603,960642.1094,977541.4179,991551.5109
2,Houston,TX,Harris County,125063.07000,126267.77180,127564.05270,128811.89230,130112.08830,131496.98170,132851.78360,...,265896.4541,264434.1175,263408.3181,263035.2835,263251.6462,264103.9371,265044.8420,266001.8688,266457.6884,266611.0160
3,Chicago,IL,Cook County,155004.23870,157683.31430,160430.71520,161765.75660,162481.22170,162822.59660,163662.76940,...,281674.4239,281472.4808,282071.6090,283651.0989,284833.4034,286011.7579,287383.9221,289147.3164,290591.8352,291523.4667
4,San Antonio,TX,Bexar County,124307.83750,124752.38450,125181.17290,125877.45620,126873.89360,128069.68330,129152.06330,...,262993.2077,261924.1850,260739.0983,259700.1550,259442.5615,259725.5203,259933.5297,260059.7112,259609.2154,258765.6447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21582,Galesville,MD,Anne Arundel County,444977.35650,445714.69780,448085.51420,454110.01610,460129.56480,464161.02540,466529.14780,...,616097.9336,614632.2366,614074.2274,613735.2645,616343.6556,619459.2760,623316.6508,625580.7375,626907.5925,627333.3160
21583,Hungry Horse,MT,Flathead County,117489.96650,118658.79170,119815.60390,121294.69750,122407.81160,123815.16310,125548.74010,...,332386.8790,324752.2814,320375.2044,321228.9227,326650.7680,333264.1534,337600.3952,339242.9488,339584.8001,340595.7991
21584,Kachemak City,AK,Kenai Peninsula Borough,279827.75770,279401.78100,279430.35400,278887.60020,278675.29940,279052.10020,280475.23470,...,452040.5339,449738.2004,446367.9195,443097.0805,439760.6854,438819.9817,439433.3233,440488.9848,440798.8693,439664.8583
21587,Stirling City,CA,Butte County,50761.47305,51535.86071,52883.80516,54428.83419,55342.48906,55865.79617,56272.70428,...,163878.9560,162759.7260,164051.4143,166255.1604,167719.1139,167227.8327,164953.0912,162293.0220,160125.8079,157060.8675
21592,Martin City,MT,Flathead County,194856.37090,196553.40980,198307.19710,200290.90030,202013.68180,203351.51180,204496.10120,...,525425.3114,514674.1248,507065.9497,506412.2726,509022.1909,513963.9223,518347.1642,521331.7509,522968.9742,522857.8009

In [17]:
#Housing data from 2023-2005
columns = og_df.columns.to_list()
eighteen_years_back = columns.index("10/31/2005") 
Year2005_Year2023= ["RegionName", "State", "CountyName",*columns[eighteen_years_back:]]
Year2005_Year2023
back18years_df = og_df[Year2005_Year2023].dropna()
back18years_df

,RegionName,State,CountyName,10/31/2005,11/30/2005,12/31/2005,1/31/2006,2/28/2006,3/31/2006,4/30/2006,...,1/31/2023,2/28/2023,3/31/2023,4/30/2023,5/31/2023,6/30/2023,7/31/2023,8/31/2023,9/30/2023,10/31/2023
0,New York,NY,Queens County,471231.75140,477178.26430,483715.06370,489293.29540,495014.1082,499010.39770,502270.86240,...,766582.9572,763731.2209,761449.8956,761938.2842,763854.9535,765486.3305,765199.3459,763299.2633,760584.2934,758177.2993
1,Los Angeles,CA,Los Angeles County,559080.20080,567679.81010,574993.79490,581084.37640,586322.9938,591723.86420,595985.35070,...,959553.9114,945550.7813,930386.6783,923605.3731,924440.3173,931256.3020,943797.7603,960642.1094,977541.4179,991551.5109
2,Houston,TX,Harris County,123528.44120,123612.81790,123657.77190,123722.78160,123561.3892,123533.54090,123626.60300,...,265896.4541,264434.1175,263408.3181,263035.2835,263251.6462,264103.9371,265044.8420,266001.8688,266457.6884,266611.0160
3,Chicago,IL,Cook County,228775.17230,231380.33990,233944.21360,236424.37640,238640.4279,240685.69240,242439.00620,...,281674.4239,281472.4808,282071.6090,283651.0989,284833.4034,286011.7579,287383.9221,289147.3164,290591.8352,291523.4667
4,San Antonio,TX,Bexar County,112591.27810,112983.12140,113379.44780,113581.32380,113860.5538,114137.13270,114506.30440,...,262993.2077,261924.1850,260739.0983,259700.1550,259442.5615,259725.5203,259933.5297,260059.7112,259609.2154,258765.6447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21553,Tribes Hill,NY,Montgomery County,98268.28497,98851.53966,99597.45028,100100.66020,100331.4391,100491.21310,100767.98280,...,158592.1332,157267.0493,155955.1327,155208.6947,155356.3566,156575.0580,158536.1311,160142.9492,161523.4887,163214.4318
21557,Haskins,OH,Wood County,157991.15320,158255.61760,158750.04360,159141.19550,159299.8563,159651.59540,160077.21610,...,242387.4149,243746.6839,245637.4451,248035.1402,250560.5565,253388.9235,255876.4499,257516.3050,258723.3435,259355.7539
21576,Owenton,KY,Owen County,72365.99129,72413.20594,72379.94603,72396.12834,72368.7283,72551.09823,72703.74108,...,131134.9152,131865.1136,132519.8176,132686.2394,133146.1951,133108.6600,133282.0188,133200.8546,133629.6149,134114.0376
21582,Galesville,MD,Anne Arundel County,568081.17690,576162.41230,583416.05530,589379.31210,592910.5591,596841.19850,599410.99300,...,616097.9336,614632.2366,614074.2274,613735.2645,616343.6556,619459.2760,623316.6508,625580.7375,626907.5925,627333.3160
21584,Kachemak City,AK,Kenai Peninsula Borough,243172.76880,246033.97080,248541.78590,250775.34950,252794.5006,254591.00490,256297.72100,...,452040.5339,449738.2004,446367.9195,443097.0805,439760.6854,438819.9817,439433.3233,440488.9848,440798.8693,439664.8583